@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the Anila framework, then add our
 * project-specific components afterwards.
 */

  @import "compass";
	
/*------------------------------------*\
    $VARS
    see default.scss, and set it here
\*------------------------------------*/

    $use-grids:         true;
    $use-buttons:       true;    
    $use-tables:        true;

    /**
     * Setup screen
     */
    $specified: false;

 
/*------------------------------------*\
    $FRAMEWORK
\*------------------------------------*/

	@import "anila/anila";