@if $use-buttons == true {

	/*-----------------------------------------------*\
	    $BUTTONS
	\*-----------------------------------------------*/


	
	/*------------------------------------*\
	    $BASE
	\*------------------------------------*/
	/**
	 * Base button styles.
	 *
	 * 1. Allow us to better style box model properties.
	 * 2. Line different sized buttons up a little nicer.
	 * 3. Stop buttons wrapping and looking broken.
	 * 4. Make buttons inherit font styles.
	 * 5. Force all elements using beautons to appear clickable.
	 * 6. Normalise box model styles.
	 * 7. If the button’s text is 1em, and the button is (3 * font-size) tall, then
	 *    there is 1em of space above and below that text. We therefore apply 1em
	 *    of space to the left and right, as padding, to keep consistent spacing.
	 * 8. Basic cosmetics for default buttons. Change or override at will.
	 */
	.btn{
    display:inline-block;       /* [1] */
    vertical-align:middle;      /* [2] */
    white-space:nowrap;         /* [3] */
    font-family:inherit;        /* [4] */
    font-size:100%;             /* [4] */
    cursor:pointer;             /* [5] */
    border:none;                /* [6] */
    margin:0;                   /* [6] */
    padding-top:   0;           /* [6] */
    padding-bottom:0;           /* [6] */
    line-height:2;              /* [7] */
    padding-right:1em;          /* [7] */
    padding-left: 1em;          /* [7] */
    border-radius:$radius;			/* [8] */
		@if $button-disabled == true {
			&.disabled {
				@include btn-disabled();
				&:hover {
					background-color: $btn-disable-color;
				}
			}
		} // if btn disabled end

		// --------------------------
		// buttons sizes
		// --------------------------
		@if $button-sizes == true {
			&.xlarge {
		    font-size: $xlarge/1.2; // because xlarge just too large
			}
			&.large {
		    font-size: $large;
			}
			&.mini {
	    	font-size: $small;
			}
			&.block.on-all {
				width: 100%;
			}
		}

		// --------------------------
		// buttons modifiers
		// --------------------------
		@if $button-modifier == true {
			&.soft {
				border-radius:200px;
			}
			&.hard {
				border-radius: 0;
			}
		}

	}

	.btn {

    &,
    &:hover{
      text-decoration:none;
    }

    &:active,
    &:focus{
      outline:none;
    }
	}
	
	/**
	 * Button classes
	 *
	 * just define it in default.scss Anila do the rest
	 */
	
	@if $button-themes == true {

		@each $btn-appearance in $btnstyle {

			.btn-#{nth($btn-appearance, 1)} {
				color: nth($btn-appearance, 3);
				cursor: nth($btn-appearance, 4);
				
				// --------------------------------------
				// if flat button theme you set to true
				// --------------------------------------
				@if $flat-button == true {
					&.flat {
						background-color: nth($btn-appearance, 2);
						@if $flat-cast-shadow == true {
							border-bottom: solid 1px (darken(nth($btn-appearance, 2), 11%));
							@include box-shadow(inset 0 -2px 0 darken(nth($btn-appearance, 2), 11%));
						}
						&:hover {
							background-color: lighten(nth($btn-appearance, 2), 3.5%);
							@include transition(background-color 150ms linear);
						}
						&:active {
							background-color: darken(nth($btn-appearance, 2), 5.5%);
							@include box-shadow(inset 0 0 5px darken(nth($btn-appearance, 2), 11%));
							@include text-shadow(1px 1px 1px darken(nth($btn-appearance, 2), 11%));
							@include transition(background-color 150ms linear);
						}
					}
				} // if flat end

				// --------------------------------------
				// if pretty button theme you set to true
				// --------------------------------------
				@if $pretty-button == true {
					&.pretty {
							background-color: none;
					  	@include background-image(linear-gradient(lighten(nth($btn-appearance, 2), 5%), saturate(nth($btn-appearance, 2), 15%)));
							@include box-shadow(inset 0 0 8px lighten(nth($btn-appearance, 2), 20%));
							border: 1px solid darken(nth($btn-appearance, 2), 10%);
							&:hover {
						  	@include background-image(linear-gradient(lighten(nth($btn-appearance, 2), 10%), saturate(nth($btn-appearance, 2), 15%)));
						  	@include transition(background-image 250ms linear);
							}
							&:active {
								background: darken(nth($btn-appearance, 2), 3.5%);
								@include text-shadow(1px 1px 1px lighten(nth($btn-appearance, 2), 20%));
								@include box-shadow(inset 0 2px 5px darken(nth($btn-appearance, 2), 10%));
								color: darken(nth($btn-appearance, 2), 25%);
						  	@include transition(background-image 150ms linear, color 150ms linear);
							}
					}
				} // if pretty end
			} //.btn nth end

		} // each end
	
	} // if button themes end

	// --------------------------------------------------
	// flat with no shadow if button themes set to false
	// --------------------------------------------------
	@else {
		@each $btn-appearance in $btnstyle {
			.btn-#{nth($btn-appearance, 1)} {
				background-color: nth($btn-appearance, 2);
				color: nth($btn-appearance, 3);
				cursor: nth($btn-appearance, 4);
				&:hover {
					background-color: lighten(nth($btn-appearance, 2), 3.5%);
					@include transition(background-color 150ms linear);
				}
				&:active {
					background-color: darken(nth($btn-appearance, 2), 5.5%);
					@include box-shadow(inset 0 0 5px darken(nth($btn-appearance, 2), 11%));
					@include text-shadow(1px 1px 1px darken(nth($btn-appearance, 2), 11%));
					@include transition(background-color 150ms linear);
				}
			}
		}
	} // else end

	@if $specified == true {

		/*------------------------------------*\
		    $MEDIA-DESKTOP (ADAPTJS)
		\*------------------------------------*/
		/**
		 * set condition for media desktop
		 */
		@if $media-desktop == true {
			/**
			 * START YOUR STYLING HERE!
			 */

				@include respond-to(desktop) {
					
					.btn.block.on-desk {
						width: 100%;
					}
					.btn.block.on-all {
						width: 100%;
					}

				}


		} //end condition media-desktop

		/*------------------------------------*\
		    $MEDIA-TABLET (ADAPTJS)
		\*------------------------------------*/
		/**
		 * set condition for media tablet
		 */
		@else if $media-tablet == true {
			/**
			 * START YOUR STYLING HERE!
			 */

				@include respond-to(tablet) {
					
					.btn.block.on-tb {
						width: 100%;
					}
					.btn.block.on-all {
						width: 100%;
					}
					
				}	

		} //end condition media-tablet

		/*------------------------------------*\
		    $MEDIA-PHONE (ADAPTJS)
		\*------------------------------------*/
		/**
		 * set condition for media phone
		 */
		@else if $media-phone == true {
			/**
			 * START YOUR STYLING HERE!
			 */

				@include respond-to(phone) {
					
					.btn.block.on-ph {
						width: 100%;
					}
					.btn.block.on-all {
						width: 100%;
					}

				}

		} //end condition media-phone

	} // specified target

	@else {

		/*! specified not specified (use global) for buttons */	

	} // else if specified media false

} // end if use buttons
