@if $use-grids == true {

/*-------------------------------------------------*\
    $GRIDS : by INUIT.CSS (http://inuitcss.com)
\*-------------------------------------------------*/
/**
 * Fluid and nestable grid system, e.g.:
 *
   <div class="grid">

       <div class="grid__item  one-third">
           <p>One third grid</p>
       </div><!--

    --><div class="grid__item  two-thirds">
           <p>Two thirds grid</p>
       </div><!--

    --><div class="grid__item  one-half">
           <p>One half grid</p>
       </div><!--

    --><div class="grid__item  one-quarter">
           <p>One quarter grid</p>
       </div><!--

    --><div class="grid__item  one-quarter">
           <p>One quarter grid</p>
       </div>

   </div>
 *
 * Demo: jsfiddle.net/inuitcss/CLYUC
 *
 */


/**
 * Grid wrapper
 */
.grid{
  margin-left:-$base-spacing-unit;
  list-style:none;
  margin-bottom:0;
	&.blocked {
		margin-left: 0;
	}
}


	/**
	 * Very infrequently occuring grid wrappers as children of grid wrappers.
	 */
	.grid > .grid{
    margin-left:0;
	}


	/**
	 * Grid
	 */
	.grid__item {
    display:inline-block;
    width:100%;
    padding-left:$base-spacing-unit;
    vertical-align:top;
    @if $global-border-box == false{
      @include vendor(box-sizing, border-box);
    }
    &.blocked {
    	padding-left: 0;
    }
    &.centered {
    	display: block;
    	margin: 0 auto 10px auto;
    }
	}
	.blocked .grid__item {
		padding-left: 0;
		&.unblock {
	    padding-left:$base-spacing-unit;
		}
	}



	@if $specified == true {


		/*------------------------------------*\
		    $MEDIA-DESKTOP (ADAPTJS)
		\*------------------------------------*/
		/**
		 * set condition for media desktop
		 */
		@if $media-desktop == true {
			/**
			 * START YOUR STYLING HERE!
			 */
			
			@include respond-to(desktop) {
				
		    @include grid-setup(alldisplay);

			}


		} //end condition media-desktop

		/*------------------------------------*\
		    $MEDIA-TABLET (ADAPTJS)
		\*------------------------------------*/
		/**
		 * set condition for media tablet
		 */
		@else if $media-tablet == true {
			/**
			 * START YOUR STYLING HERE!
			 */

			@include respond-to(tablet) {
				
		    @include grid-setup(tablet);

			}


		} //end condition media-tablet

		/*------------------------------------*\
		    $MEDIA-PHONE (ADAPTJS)
		\*------------------------------------*/
		/**
		 * set condition for media phone
		 */
		@else if $media-phone == true {
			/**
			 * START YOUR STYLING HERE!
			 */

			@include respond-to(phone) {
				
		    @include grid-setup(phone);
		    	.grid__item {
		    		&.centered {
							
		    		}
		    	}
					.blocked .grid__item {
						&.unblock {
					    padding-left: 0;
						}
					}
			}



		} //end condition media-phone

	} // specified target

	@else {

		@include media-query(desktop){
		    @include grid-setup(alldisplay);
		}

	} // else if specified media false. compile fallback.

} //end if use grid