/*!
==================================
DEMO STYLING START HERE
==================================
*/

@import "vars"; // custom vars

/*! --------- CUSTOM GLOBAL CLASSES --------- */

/*
here is your global classes 
they will stay on every stylesheets (style-desktop, style-tablet, style-phone, style)
*/
.container {
	width: 98%;
	margin: 10px auto;
}
.grid__item {
	margin: $base-spacing-unit / 6 0;
}
.block_test {
	padding: 5px;
	font-size: 0.8em;
}
.blue {
	background-color: #84bcde;
}

/*! --------- CUSTOM SPECIFIED --------- */
/*
* if you want to keep compile your custom style for specified media.
* you may want to use it.
* but if you won't compile specified media, you have to set:
* $specified: true;
* $media-desktop: false;
* $media-tablet: false;
* $media-phone: false;
*/

@if $specified == true {

	/*------------------------------------*\
	    $MEDIA-DESKTOP
	\*------------------------------------*/

	@if $media-desktop == true {
		/**
		 * START YOUR STYLING HERE!
		 */
		
		@include respond-to(desktop) {
			
			/*! custom style for desktop */

		}


	} //end condition media-desktop

	/*------------------------------------*\
	    $MEDIA-TABLET
	\*------------------------------------*/
	/**
	 * set condition for media tablet
	 */
	@else if $media-tablet == true {
		/**
		 * START YOUR STYLING HERE!
		 */

		@include respond-to(tablet) {
			
			/*! custom style for tablet */

		}


	} //end condition media-tablet

	/*------------------------------------*\
	    $MEDIA-PHONE
	\*------------------------------------*/
	/**
	 * set condition for media phone
	 */
	@else if $media-phone == true {
		/**
		 * START YOUR STYLING HERE!
		 */

		@include respond-to(phone) {
			
			/*! custom style for phone */

		}


	} //end condition media-phone


}

@else {

	/*! custom style for fallback no script */

}