/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
$debug-mode:        false!default;


/*------------------------------------*\
    $BORDER-BOX
\*------------------------------------*/
/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
$global-border-box: true!default;


/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

// Typography
$font-family: "Arial" !default;
$font-style-italic: italic;
$font-smoothing: antialiased;

// Font Weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 400;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 300;

$header-font-weight: $font-weight-thin;
$body-font-weight: $font-weight-regular;
$type-font-weight: $font-weight-regular;
$link-font-weight: $font-weight-regular;
$button-font-weight: $font-weight-semibold;
$tabs-font-weight: $font-weight-semibold;

// Vertical Rhythm Spacing
$base-line-height: ms(1) !default;
$rhythm-spacing: .168;
$rhythm-height: .711;

// Modular Scale Settings
// http://www.modularscale.com by Tim Brown
// https://github.com/scottkellum/modular-scale
$ratio: golden(); // Ratio for Modular Scale
$base-font-size: 16px !default;
$importantNum: 78px !default;
$base-size: $base-font-size $importantNum;
// Default Scale Values: 16, 18, 26, 30, 42, 48, 68, 78, 110, 126;

// Sizing
$xsmall: ms(-2);
$small: ms(-1);
$norm: ms(0); // $base-font-size (16px == default)
$med: ms(1);
$large: ms(2);
$larger: ms(3);
$xlarge: ms(4);
$xxlarge: ms(5);
$xxxlarge: ms(6);
$reallybig: ms(8);
$tremendous: ms(9);
$absurd: ms(10);

// Typography Colors
$header-font-color: #444444 !default;
$header-link-color: #d04526 !default;
$header-link-hover-color: #c03d20 !default;
$body-font-color: #555555 !default;
$body-link-color: #d04526 !default;
$body-link-hover-color: #c03d20 !default;


/*------------------------------------*\
    $SHAPE APPEARANCE
\*------------------------------------*/

/**
 * How big would you like round corners to be by default?
 */
$radius:        4px!default;


/*------------------------------------*\
    $SCREENS AND RESPONSIVE
\*------------------------------------*/

$use-adaptjs:   true !default;

$media-phone:   true !default;
$media-tablet:  true !default;
$media-desktop: true !default;
/**
 * Responsiveness?
 */
$responsive:    true!default;
/**
 * specified target?
 */
$specified:     true!default;
/**
 * Tell Anila when breakpoints start.
 */
$phone-start:       0px!default;
$tablet-start:      768px!default;
$desktop-start:     1024px!default;

/*------------------------------------*\
    $QUOTES
\*------------------------------------*/
/**
 * English quote marks?
 */
$english-quotes:    true!default;

/**
 * If you want English quotes then please do not edit these; they’re only here
 * because Sass needs them.
 */
$open-quote:    null;
$close-quote:   null;

/**
 * If you need non-English quotes, please alter the following values accordingly:
 */
@if $english-quotes != true{
    $open-quote:    \00AB;
    $close-quote:   \00BB;
}

/*------------------------------------*\
    $GRID
\*------------------------------------*/
/**
 *
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;


/*-------------------------------------------------*\
    $GRIDS : by INUIT.CSS (http://inuitcss.com)
\*-------------------------------------------------*/

$setup: alldisplay;
@mixin grid-setup($setup) {
    /**
    * Whole
    */
    @if $setup == alldisplay {

        .one-whole         { width:100%; }


        /**
        * Halves
        */
        .one-half          { width:50%; }


        /**
        * Thirds
        */
        .one-third         { width:33.333%; }
        .two-thirds        { width:66.666%; }


        /**
        * Quarters
        */
        .one-quarter       { width:25%; }
        .two-quarters      { @extend .one-half; }
        .three-quarters    { width:75%; }


        /**
        * Fifths
        */
        .one-fifth         { width:20%; }
        .two-fifths        { width:40%; }
        .three-fifths      { width:60%; }
        .four-fifths       { width:80%; }


        /**
        * Sixths
        */
        .one-sixth         { width:16.666%; }
        .two-sixths        { @extend .one-third; }
        .three-sixths      { @extend .one-half; }
        .four-sixths       { @extend .two-thirds; }
        .five-sixths       { width:83.333%; }


        /**
        * Eighths
        */
        .one-eighth        { width:12.5%; }
        .two-eighths       { @extend .one-quarter; }
        .three-eighths     { width:37.5%; }
        .four-eighths      { @extend .one-half; }
        .five-eighths      { width:62.5%; }
        .six-eighths       { @extend .three-quarters; }
        .seven-eighths     { width:87.5%; }


        /**
        * Tenths
        */
        .one-tenth         { width:10%; }
        .two-tenths        { @extend .one-fifth; }
        .three-tenths      { width:30%; }
        .four-tenths       { @extend .two-fifths; }
        .five-tenths       { @extend .one-half; }
        .six-tenths        { @extend .three-fifths; }
        .seven-tenths      { width:70%; }
        .eight-tenths      { @extend .four-fifths; }
        .nine-tenths       { width:90%; }


        /**
        * Twelfths
        */
        .one-twelfth       { width:8.333%; }
        .two-twelfths      { @extend .one-sixth; }
        .three-twelfths    { @extend .one-quarter; }
        .four-twelfths     { @extend .one-third; }
        .five-twelfths     { width:41.666% }
        .six-twelfths      { @extend .one-half; }
        .seven-twelfths    { width:58.333%; }
        .eight-twelfths    { @extend .two-thirds; }
        .nine-twelfths     { @extend .three-quarters; }
        .ten-twelfths      { @extend .five-sixths; }
        .eleven-twelfths   { width:91.666%; }

    }
    /**
    * change for tablet
    */
    @else if $setup == tablet {

        /**
        * Halves
        */
        .one-half          { width:50%; }

        /**
        * Quarters
        */
        .one-quarter       { width:25%; }
        .two-quarters      { @extend .one-half; }
        .three-quarters    { width:75%; }
        
    }
    /**
    * change for phone
    */
    // [1] ------  sometimes you need extra grid on phone. just change it to your custom vars
    @else if $setup == phone {

        .one-whole         { width:100%; }


        /**
        * Halves
        */
        .one-half          { width:50%; }


        /**
        * Thirds
        */
        .one-third         { width:33.333%; }
        .two-thirds        { width:66.666%; }


        /**
        * Quarters
        */
        .one-quarter       { width:25%; }
        .two-quarters      { @extend .one-half; }
        .three-quarters    { width:75%; }
        
    }
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

/**
 * some variables if you want to use button(s)
 * you have to set $use-buttons to "true"
 */

$button-themes:     true!default; // B[1]
$flat-button:       true!default; // if you want to use this, B[1] must filled true
$flat-cast-shadow:  true!default; // adding extra solid darken shadow to the flat button theme
$pretty-button:     true!default; // if you want to use this, B[1] must filled true
$button-disabled:   true!default; // if you want to use this, B[1] must filled true
$button-sizes:      true!default;
$button-modifier:   true!default;
$button-fontsizes:  true!default;
$dynamic-buttons:   true!default;

/**
 * setting for your buttons.
 * the frist one is button class name (compiled to btn-yourbuttonname),
 * second is the background color of yours,
 * third is the text color,
 * last one is the cursor
 */

$btnstyle:  primary #0075c9 #FFF pointer,
            whatever #ff5200 #FFF pointer !default;

$btn-disable-color: #DDD !default;
$btn-disable-font-color: #999 !default;
$btn-disable-cursor: not-allowed !default;

@mixin btn-disabled {
    background-color: $btn-disable-color;
    color: $btn-disable-font-color;
    cursor: $btn-disable-cursor;
}

/*------------------------------------*\
    $TABLES
\*------------------------------------*/

$base-table-color: #ccc !default;



/*====================================*\
    DEFAULT VARIABLES
\*====================================*/

/*---------------------*\
  BASE
\*---------------------*/

/*---------------------*\
  COMPONENTS
\*---------------------*/

$use-grids:         false!default;
$use-buttons:       false!default;
$use-tables:        false!default;

